body {
    padding-left: 5px;
    font-family: Sans-serif;
}

#status {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    max-height: 60px;
    display: none;
}

#projects {
    margin-left: 5px;
}

#experiments {
    margin-bottom: 5px;
    text-align: left;
}

.space {
}

.project {
}

.experiment_type {
}

.experiment {
}

.experiment_description {
    font-size: 0.8em;
    padding-left: 10px;
    font-weight: normal;
    font-style: oblique;
}
